@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    background: linear-gradient(180deg, #f0d8a5, #F5ECD7); 
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 1.8rem;
    color: black; 
    margin-bottom: 40px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}

h2, p {
    font-size: 1.8rem;
    color: #000000; 
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.form-label {
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    color: #000000; 
}

.main-page, .predict, .form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.predict{row-gap: 0.1rem;}

.mb-3{
    width: 30%;
}

.form-control, .form-select.custom-select {
    margin-bottom: 30px;
    padding: 11px;
    border: 2px solid #eb9c64;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff; 
    color: #000000;
}

.form-control:focus, .form-select.custom-select:focus {
    border-color: #eb9c64;
    outline: none;
    box-shadow: 0 0 7px rgba(231, 144, 63, 0.7); 
}

.data-input{
    width: 60vw;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 6px;
    background: linear-gradient(to right, #eb9c64, #ff8789); 
    color: #353535; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(to left, #eb9c64, #ff8789);
    color: #353535;
}

.btn-primary:active{
    background: linear-gradient(to left, #eb9c64, #ff8789);
    color: #353535;
}

.sample{
    width: 40%;
    margin-top: 20px;
}
