<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <title>PredicX</title>
</head>
<body>
    <div class="data-input">
      <h1>Enter current data of machine</h1>
        <form action="/predict" method="post" class="predict">
            <div class="mb-3">
                <label for="air_temp" class="form-label">Air temperature (in Kelvin)</label>
                <input type="text" class="form-control" id="air_temp" name="air_temp" placeholder="e.g. 290">
              </div>
              <div class="mb-3">
                <label for="process_temp" class="form-label">Process temperature (in Kelvin)</label>
                <input type="text" class="form-control" id="process_temp" name="process_temp" placeholder="e.g. 400">
              </div>
              <div class="mb-3">
                <label for="rotational_speed" class="form-label">Rotational speed (in rpm)</label>
                <input type="text" class="form-control" id="rotational_speed" name="rotational_speed" placeholder="e.g. 1400">
              </div>
              <div class="mb-3">
                <label for="torque" class="form-label">Torque (in Nm)</label>
                <input type="text" class="form-control" id="torque" name="torque" placeholder="e.g. 42.8">
              </div>
              <div class="mb-3">
                <label for="tool_wear" class="form-label">Tool wear (min)</label>
                <input type="text" class="form-control" id="tool_wear" name="tool_wear" placeholder="e.g. 9">
              </div>
              <div class="mb-3">
                <label for="type" class="form-label">Quality of Machine</label>
                <input type="text" class="form-control" id="type" name="type" placeholder="e.g. L for low, M for medium and H for high">
              </div>
              <div><input type="submit" class="btn btn-primary" value="Predict"></input></div>
        </form>
    </div>
</body>
</html>